@media screen and (min-width: 1200px) {
.container{
width: 1158px; 
padding-left: 15px;
padding-right: 15px;   
} 
.header-container{
    width: 100%;
    height: 76px;
}
.menu{
    margin-left: 76px;
}
.contact-list{
    flex-direction: row;
    gap: 40px;
} 
/* ===== Hero ===== */
.hero{
    max-width: 1440px;
    padding-top: 187px;
    padding-bottom: 188px;
    background-image:var(--hero-gra), url(../images/desktop/hero-bg-desktop.jpg);
    
} 
@media screen and (min-device-pixel-ratio: 2), and (min-width: 1200px)
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px){
.hero{
        background-image:var(--hero-gra), url(../images/desktop/hero-bg-desktop@2x.jpg);    
    }
}

.main-title{
    margin-bottom: 48px;
}

/*============ Our features ========== */
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
    .features-subtitle{
        margin-top: 8px;
        text-align: left;
    }

.features-list > .item{
    flex-basis:calc((100% - 3 * 24px) / 4) ; 
}
.features-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--secondary-background-color);
}

/* =========What are we doing ========= */
.section-work{
    display: block;
    padding-top: 0;
}
.work-title{
    margin-bottom: 72px;
    text-align: center;
    color: var(--primary-title-color); 
}
.work-list{
    display: flex;
    gap: var(--main-gap);
}
.work-item{
    flex-basis: calc((100% - 2 * 24px) / 3);
} 

/* ========Our team ====== */
/* .section-team{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 24px;
}
.team-container{
  width: 100%;  
}
.team-list{
    flex-wrap: nowrap;
}

.team-member{
    flex-basis:calc((100% - 3 * 24px) / 4) ; */

/* ======== Customer ======= */
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.customer-container{
    width: 1160px;
}
.custemers-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: var(--main-gap);  
}
/* ========= customers ======== */

/* ====== Footer===== */
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
}
.container-footer{
    display: flex;
}
.logo-wrap{
    margin-right: 120px;
    align-items: flex-start;
}
.soc-wrap{
justify-content: flex-start;
align-items: flex-start;
}
.subscribe-wrap{
    justify-content: flex-start;
    align-items: flex-start;
    margin-left:auto;
}
.subscribe-field{
    display: flex;
    align-items: normal;
}
.subscribe-input{
    width: 264px;
    margin-right: 24px;
}
/* ====== Footer ===== */

/* ======== PORTFOLIO ======= */
.p
.portfolio.section{
    padding-top: 96px;
    padding-bottom: 120px;
}
.example-list{
row-gap: 40px;

}
.example-item{
    flex-basis: calc((100% - 2 * 24px) / 3);
}
.filter{
    display: flex;
    
    justify-content: center;
    gap: var(--main-gap);
    margin-bottom: 72px;

}
.filter-item{
    width: 100%;
    height: 48px;
}

}

